<h2>CF-TEXT-FIELD COMPONENT</h2>

{{!--

{{#if (not editing)}}

    {{valueName}}: {{parameters.value.value}}

{{/if}}

{{#if editing}}
    <div>
        <label>{{parameters.description.value}}</label>
        {{input value=parameters.value.value class='form-control'}}
    </div>
{{/if}}

--}}

{{yield}}
 
